<!DOCTYPE html>

<html ng-app="DashPlayer" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>沉浸式视频直播原型系统</title>

    <style>
      body {
        background-color: #ececec;
        min-width: 1000px;
        overflow-x: hidden;
      }
      #charts {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
      }

      .chart-container {
        width: 70%;
        background: white;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>

  <body>
    <div class="container" ng-controller="DashController">
      <div class="row title-header">
        <div class="branding">
          <span id="big-title">沉浸式视频直播原型系统</span>
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <div id="desktop-streams" class="input-group-btn">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
            >
              视频流 <span class="caret"></span>
            </button>
            <ul
              class="dropdown-menu"
              role="menu"
              aria-labelledby="dropdownMenu"
            >
              <li
                ng-repeat="item in availableStreams"
                class="ng-scope"
                ng-mouseover="onStreamItemHover(item)"
              >
                <a class="ng-binding" ng-click="setStream(item)"
                  >{{item.name}}</a
                >
              </li>
            </ul>
          </div>
          <input
            type="text"
            class="form-control"
            ng-model="selectedItem.value"
            ng-change="changeStream()"
          />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="showoption()" ng-cloak>
              {{optionButton}}
            </button>
            <button
              class="btn btn-default"
              type="button"
              onclick="location.reload();"
            >
              重置
            </button>
            <button
              id="Download"
              class="btn btn-primary"
              type="button"
              ng-click="download_csv();"
            >
              下载日志
            </button>
            <button
              id="Refresh"
              class="btn btn-primary"
              type="button"
              ng-click="refresh();"
            >
              刷新
            </button>
            <button
              id="Link"
              class="btn btn-primary"
              type="button"
              ng-click="selectedItem.type=='json' ? openJSON(selectedItem.value) : openURLs(selectedItem.value);"
            >
              解析
            </button>
            <button
              id="Render"
              class="btn btn-primary"
              type="button"
              style="display: none"
              ng-click="aframe_init();"
            >
              加载
            </button>
            <button
              id="Load"
              class="btn btn-primary"
              type="button"
              style="display: none"
              ng-click="initial();"
            >
              初始化
            </button>
            <button
              id="Play"
              class="btn btn-primary"
              style="display: none"
              ng-click="play_all();"
            >
              播放
            </button>
            <button
              id="Pause"
              class="btn btn-primary"
              style="display: none"
              ng-click="pause_all();"
            >
              暂停
            </button>
            <div id="option" style="display: none">
              <div class="options-item-title">码率自适应算法</div>
              <div class="options-item-body" style="height: 170px">
                <div class="sub-options-item-body">
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="VaserRule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('VaserRule')"
                    />
                    Vaser算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="VAACRule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('VAACRule')"
                    />
                    VAAC算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="VAACERule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('VAACERule')"
                    />
                    VAAC-E算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="PWRule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('PWRule')"
                    />
                    PW算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="SPB360Rule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('SPB360Rule')"
                      checked="checked"
                    />
                    SPB-360算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="HighestBitrateRule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('HighestBitrateRule')"
                    />
                    全高清算法
                  </label>
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="LowestBitrateRule"
                      type="radio"
                      autocomplete="off"
                      ng-click="changeABRStrategy('LowestBitrateRule')"
                    />
                    全低清算法
                  </label>
                </div>
              </div>

              <div class="options-item-title">用户视野轨迹模拟</div>
              <div class="options-item-body" style="height: 100px">
                <div class="sub-options-item-body">
                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="userTrackingToggle"
                      type="checkbox"
                      autocomplete="off"
                      ng-model="userTrackingToggle"
                    />
                    开启视野轨迹模拟
                  </label>

                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="videoIndex"
                      type="number"
                      min="1"
                      max="9"
                      step="1"
                      ng-model="videoIndex"
                      placeholder="Enter video index"
                    />
                    视频编号
                  </label>

                  <label data-toggle="tooltip" data-placement="right">
                    <input
                      id="userTrackingIndex"
                      type="number"
                      min="1"
                      max="20"
                      step="1"
                      ng-model="userTrackingIndex"
                      placeholder="Enter user index"
                    />
                    用户编号
                  </label>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>

      <div class="row">
        <div
          id="videoContainer"
          style="
            background-color: #3a3d42;
            width: 1030px;
            height: 530px;
            float: left;
          "
        >
          <iframe
            frameborder="0"
            scrolling="no"
            id="frame"
            onload="this.width=1000; this.height=500"
          ></iframe>
        </div>

        <!-- 实时系统信息栏 -->
        <div
          class="tabs-section"
          style="width: calc(100% - 1050px); float: left; margin-left: 20px"
        >
          <div class="tab-content">
            <div class="panel-body panel-stats" ng-cloak>
              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >时间戳 :
                </label>
                {{normalizedTime.toFixed(2)}} s
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >瓦片数 :
                </label>
                {{playerCount}}
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >帧率 :
                </label>
                {{videoFrameRate}} fps
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >水平视野角度X :
                </label>
                {{(current_center_viewport_x * 180 / 3.1415926
                +180).toFixed(0)}} °
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >垂直视野角度Y :
                </label>
                {{(current_center_viewport_y * 90 / 3.1415926 + 90).toFixed(0)}}
                °
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >缓冲区长度 :
                </label>
                {{playerBufferLength[0].toFixed(2)}} s
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >网络吞吐速率 :
                </label>
                {{totalThroughput >= 8000000 ? (totalThroughput /
                8000000).toFixed(2) : (totalThroughput / 8000).toFixed(0)}}
                {{totalThroughput >= 8000000 ? " MB/s" : " KB/s"}}
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >网络带宽速率 :
                </label>
                {{totalBandwidth >= 8000000 ? (totalBandwidth /
                8000000).toFixed(2) : (totalBandwidth / 8000).toFixed(0)}}
                {{totalBandwidth >= 8000000 ? " MB/s" : " KB/s"}}
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >视野内低质量区域比例 :
                </label>
                {{low_quality_ratio.toFixed(2)}}
              </div>

              <div class="text-success">
                <label
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  >视野内画面比特率 :
                </label>
                {{(bitrate_in_view/1000).toFixed(0)}} kbps
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 实时系统效果图 -->
      <div id="clientInfo">
        <div id="charts">
          <div class="chart-container">
            <canvas id="totalThroughputChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="totalBandwidthChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="bitrateSelectChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="bufferLengthChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="viewChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="lowQualityChart"></canvas>
          </div>
          <div class="chart-container">
            <canvas id="viewBitrateChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
